// custom style goes here
*:focus {
  outline: none;
}

textarea:focus, button:focus, input:focus{
  outline: none;
}

.website-link:hover {
  color:#2c009f;
}

.youtube-link:hover {
  color:#FF0000;
}

.facebook-link:hover {
  color:#3b5998;
}

.twitter-link:hover {
  color: #00aced;
}

.nav {
  font-family: $font-family-base;
}
.nav-img {
  width: 212px;
  height: 160px;
  object-fit: cover;
}

.preview-link {
  display: inline;
  font-size: 10px;
  margin-left: 10px;
}