// custom style goes here
*:focus {
  outline: none;
}

textarea:focus, button:focus, input:focus{
  outline: none;
}

.youtube-link:hover {
  color:#FF0000;
}

.facebook-link:hover {
  color:#3b5998;
}

.twitter-link:hover {
  color: #00aced;
}

.nav {
  font-family: $font-family-base;
}